body {
    padding: 2rem;
}
input {
    width: fit-content;
}
#native-input {
    visibility: hidden;
}

.checkbox-challenge {
    display: flex;
    flex-direction: column;
}
.custom-checkbox {
    position: relative;
}

.custom-checkbox,
.custom-checkbox input,
.overlay {
    margin: 0;
    box-sizing: border-box;
}

.custom-checkbox input,
.overlay {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
}
.overlay {
    background-color: white;
    border-radius: 3px;
    border: 2px solid black;
}

.check-icon {
    color: white;
    display: none;
}

.custom-checkbox input:checked ~ .overlay {
    background-color: black;
}

.custom-checkbox input:checked ~ .overlay .check-icon {
    display: block;
}
.native-checkbox {
    margin-bottom: 1rem;
}
#native-input.visible {
    visibility: visible;
}

#toggle-button {
    width: fit-content;
    padding: 10px 20px;
    border-radius: 5px;
    border-color: #edd7c1;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-bottom: 3rem;
}
#toggle-button:hover {
    background-color: #0056b3;
}
#toggle-button:active {
    background-color: #004080;
}
